<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:insert="~{/general/head.html}"></div>
<meta name="_csrf" content="${_csrf.token}"/>
<meta name="_csrf_header" content="${_csrf.headerName}"/>
<!-- Editable CSS -->

<!-- Custom CSS -->
<link th:href="@{/css/style.min.css}" rel="stylesheet">
<!-- page css -->
<link th:href="@{/css/pages/inbox.css}" rel="stylesheet">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="skin-blue fixed-layout">
<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<!-- <div class="preloader">
    <div class="loader">
        <div class="loader__figure"></div>
        <p class="loader__label">CRM</p>
    </div>
</div> -->
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
    <div th:insert="~{/general/header.html}"></div>
    <div th:insert="~{/general/left-sidebar.html}"></div>
    <div class="page-wrapper">
        <div class="container-fluid">
            <div th:insert="~{/general/page-titles.html}"></div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body text-center">
                            <h3 class="text-info">Message</h3>
                            <!-- Affichage des erreurs -->
                            <div th:if="${errors != null and not #lists.isEmpty(errors)}" class="alert alert-danger">
                                <h4 class="alert-heading">Erreurs lors de l'importation</h4>
                                <ul>
                                    <li th:each="error : ${errors}" th:text="${error}"></li>
                                </ul>
                            </div>
                            <!-- Message général -->
                            <p th:text="${message}"></p>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- CSV Upload Form -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Import CSV Files</h4>
                            <form action="#" th:action="@{/database/importCSV}" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="csvFile1">Choose Leads/Tickets CSV File (Feuille 1)</label>
                                    <input type="file" name="file1" id="csvFile1" class="form-control" accept=".csv" />
                                </div>
                                <div class="form-group">
                                    <label for="csvFile2">Choose Customers CSV File (Feuille 3)</label>
                                    <input type="file" name="file2" id="csvFile2" class="form-control" accept=".csv" />
                                </div>
                                <div class="form-group">
                                    <label for="csvFile3">Choose Budget CSV File (Feuille 4)</label>
                                    <input type="file" name="file3" id="csvFile3" class="form-control" accept=".csv" />
                                </div>
                                <button type="submit" class="btn btn-primary">Upload</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Restore Database Button -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body text-center">
                            <h4 class="card-title">Restore Database</h4>
                            <form action="#" th:action="@{/restore/database}" method="post">
                                <button type="submit" class="btn btn-danger">Restore Database</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div th:insert="~{/general/right-sidebar.html}"></div>
        </div>
    </div>
    <div th:insert="~{/general/footer.html}"></div>
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script th:inline="javascript">
    var home = /*[[${home}]]*/ null;
</script>
<script th:src="@{/js/library/jquery-3.2.1.min.js}" type="text/javascript"></script>
<!--    <!– Bootstrap tether Core JavaScript –>-->
<script th:src="@{/js/library/popper.min.js}" type="text/javascript"></script>
<script th:src="@{/js/library/bootstrap.min.js}" type="text/javascript"></script>
<!--    <!– slimscrollbar scrollbar JavaScript –>-->
<script th:src="@{/js/library/perfect-scrollbar.jquery.min.js}" type="text/javascript"></script>
<!--Wave Effects -->
<script th:src="@{/js/library/waves.js}" type="text/javascript"></script>
<!--Menu sidebar -->
<script th:src="@{/js/library/sidebarmenu.js}" type="text/javascript"></script>
<!--stickey kit -->
<script th:src="@{/js/library/sticky-kit.min.js}"></script>
<script th:src="@{/js/library/jquery.sparkline.min.js}" type="text/javascript"></script>
<!--Custom JavaScript -->
<script th:src="@{/js/library/custom.min.js}" type="text/javascript"></script>
<script th:src="@{/js/library/jquery-ui.min.js}"></script>
</body>
</html>